.regex-notification_wrapper {
	display: flex;
	align-items: center;
	margin-top: -19px;
	margin-bottom: 3px; 
}

.regex-notification_textTop {
	margin: 0;
	margin-left: 5px;
	font-size: 10px;
	line-height: 16px;
	color: #00000059;
}

.regex-notification_textBottom {
	font-size: 10px;
}
