.model__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.model__searchBy {
  width: 160px;
}
.model__filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.model__search {
  width: 350px;
  margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  .model__head {
    flex-direction: column;
  }
  .model__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }
  .model__add-button{
    width: 100%;
  }
  .model__search {
    width: 100%;
  }
  .model__searchBy {
    width: 100%;
  }
}
